.App {
  position: relative;
  font-family: monospace;
  z-index: 0;
}

.App-header {
  background-color: black;
  padding-top: .8em;
  padding-bottom: .3em;;
}
#logo {
  align-items: left;
  padding-left: .5em;
}

.product_grid {
  padding: 4em 19%;

}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: -webkit-center;
  gap: 1em;
  min-width: 600px;

}
.products_box {
  display: grid;
  position: relative;
}
.image {
  width: 100%;
}
.price {
  padding: 1.5em 0em;
  background-color: #b7b7b7;
  margin: 0;
  font-size: 1em;
}
.name {
  position: absolute;
  background-color: black;
  color: white;
  margin: 0;
  align-self: center;
  padding: .3em 2em;
  bottom: 27%;
  left: 14%;
  font-size: 1em;

}
.buy {
  background-color: black;
  color: white;
  margin: 0;
  padding: .5em;
  font-weight: bold;
}
.buy:hover {
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}
.login_box {
  border-radius: 5px;
  position: fixed;
  background-color: white;
}
.login_box_popup {
  position: fixed;
  z-index: 10000;
  top: 35%;
  left: 42%;
  opacity: 100%;
  text-align: center;

}
.button {
  color: white;
  background-color: black;
  margin: 0;
  padding: 1em;
  text-align: center;
}
.button:hover {
  background-color: grey;
  cursor: pointer;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#cancel {
  border-bottom-right-radius: 5px;
}
#confirm {
  border-bottom-left-radius: 5px;
  border: none;
}
.inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0 1em .7em 1em;
  gap: .5em;
  padding: .3em,
}
.input {
  padding: .3em;
}
.greyout {
  background-color: grey;
  z-index: 2;
  opacity: 50%;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: .6em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bought_box_popup {
  font-size: 2em;
  position: fixed;
  border-radius: 5px;
  bottom: 50%;
  right: 30%;
  z-index: 10001;
  text-align: center;
  min-width: 20%;
  min-height: 20%;
  background-color: white;
  padding: 2em; 
}

